@font-face {
    font-family: "Golos UI";
    src: local("Golos UI"),
         url("../fonts/Golos-UI_Regular.ttf");
         
}
body{
    margin: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(244,243,244);
    padding: 0px;
    gap: 60px;
}
/*Верхняя часть */
header{
    background-color: rgb(99,77,145);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.user-panel{
    font-family: "Golos UI";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-right: 60px;
    
}
.header-ref{
    color: rgb(255,255,255);
    text-decoration: underline;
}

.header-ref:hover{
    color: rgb(69, 48, 116);
    cursor: pointer;
}
.header-ref:active{
    color: rgb(49, 33, 87);
}
.new-post-btn{
    background-color: white;
    border-radius: 7px;
    border-style: none;
    margin-top: 10px;
    height:35px;
    width:150px;
    font-size: 15px;
    color: rgb(82,56,140);
}
.new-post-btn:hover{
    background-color: rgb(69, 48, 116);
    color:  rgb(255, 255, 255);
}
.new-post-btn:active{
    background-color: rgb(49, 33, 87);
    color:  rgb(255, 255, 255);
}
.out-ref{
    text-decoration: underline;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 5px; 
    cursor: pointer;
}
.out-ref:hover{
    color: rgb(69, 48, 116);
}
.out-ref:active{
    color: rgb(49, 33, 87);
}
.login-ref{
    height: 100%;
    display: flex;
    align-items: center;
}

/*тело*/
.publ-title{
    width: 75%;
    height: 43px;
    font-family: 'Golos UI';
    font-style: normal;
    font-weight: 777;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 60px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 86%;
    height: 100%;
    margin: 60px;

    flex: none;
    order: 1;   
    align-self: stretch;
    flex-grow: 0;
}
.Post-grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 84%;
    height: 100%;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}
.PostRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 49%;
    height: 25%;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.Post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 500px;
    min-width: 255px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(98, 76, 144, 0.1);
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}
.Post-img{

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.Post-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;

    width: 93%;
    height: 40%;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.decription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 100%;
    height: 60%;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.Labels{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 100%;
    height: 35%;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.Post-teg{
    box-sizing: border-box;
    font-family: 'Golos UI';
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 5px;
    gap: 10px;
    
    width: 45px;
    height: 32px;

    border: 1px solid #BCB3CE;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.Category-menu{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 20px;


    width: 20%;
    height: 262px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.Menu-title{
    width: 87px;
    height: 24px;

    font-family: 'Golos UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.Categories-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 100%;
    height: 194px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.download-more-btn{
    box-sizing: border-box;

    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Golos UI';
    border: 3px solid #624C90;
    color: #624C90;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border-radius: 7px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
.download-more-btn:hover{
    background-color: rgb(230, 224, 224);
}
.download-more-btn:active{
    background-color: rgb(216, 210, 210);
}
/*низ*/
footer{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-ref{
    cursor: pointer;  
    font-size: 15px;
    font-family: "Golos UI";
    font-weight:600;
    color:rgb(66,117,247);
    text-decoration: underline;
}

.blog-ref:hover{
    color: rgb(69, 48, 116);
}
.blog-ref:active{
    color: rgb(49, 33, 87);
}

/*Логин*/
.login-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 32px;
    gap: 28px;
    z-index: 100;
    position: absolute;
    width: 480px;
    height: 394px;
    left: calc(50% - 480px/2);
    top: 200px;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(98, 76, 144, 0.5);
    border-radius: 8px;
}
.login-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 332px;

    width: 416px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.login-title h1{
    width: 60px;
    height: 24px;

    font-family: "Golos UI";
    font-style: normal;
    font-weight: 777;
    font-size: 27px;
    line-height: 24px;
    /* identical to box height, or 100% */
    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.login-page-close{
        
    width: 24px;
    height: 24px;
    margin-left: 55px;
    margin-top: 12px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer; 
}
.login-form{
    width: 100%;
}
.input-login{
    width: 100%;
}
.input-pass{
    margin-top: 15px;
    width: 100%;
}

.login-ref{
    color: rgb(69, 48, 116);
}

.login-ref:hover{
    color: rgb(69, 48, 116);
    cursor: pointer;
    text-decoration: underline;
}
.login-ref:active{
    color: rgb(49, 33, 87);
    text-decoration: underline;
}

.user-input-elem{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.elem-title{
    color: gray;
}
.elem-input{
    height: 60px;
    width: 92%;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    margin-right: 60px;
    padding-left: 5%;
    text-decoration:dashed;
    outline:none;
    font-size: 16px;
    color: black;
}
.pair-of-elem{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
}
.validation-blok{
    margin-left: 2%;
    width: 100%;
    
}

.validation-msg > img{
    height: 12px;
    width: 17px;
}
.validation-msg > span{
    color: rgb(90,174,107);
}

.user-post{
    background-color: rgb(82,56,140);
    border-radius: 7px;
    border-style: none;
    margin-top: 10px;
    height:45px;
    width:195px;
    font-size: 15px;
    color: white
}
.user-post:hover{
    background-color: rgb(69, 48, 116);
    color:  rgb(255, 255, 255);
}
.user-post:active{
    background-color: rgb(49, 33, 87);
    color:  rgb(255, 255, 255);
}
.login-actions{
    display: flex;
    align-items: center
}

/*Перегородка между основным приложением и окном входа*/
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.5;
    background-color: rgb(143,127,176); /*затемнитефон*/
  }
  

  